body {
  background: #D6D3D6;
}

.grid {
   height: 600px;
   width: 600px;
   border-collapse: collapse;
   margin: 0 auto;
 }

 .square {
   height: 10px;
   width: 10px;
   border: 1px #a6a7a8 solid;
   background-color: white;
   margin: 0 auto;
 }
 
#container {
  width: 700px;
  background-color: #D6D3D6;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 5px;
}

#colorContainer {
  height: 90px;
  width: 100%;
  text-align: center;
  background-color: #;
}

.color {
display: inline-block;
height: 30px;
width: 30px;
border-radius: 100%;
padding: 10px;
margin-top: 10px;
/*border: 1px white solid;*/
}
